html,
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --font-sz-rg: 1rem;
  --font-sz-sm: calc(var(--font-sz-rg) / 2);
  --font-sz-lg: calc(var(--font-sz-rg) * 2);
  --font-sz-xl: calc(var(--font-sz-rg) * 3);
  --font-sz-xs: calc(var(--font-sz-rg) / 3);

  --width-rg: 100%;
  --width-90: calc(var(--width-rg) * .9);
  --width-80: calc(var(--width-rg) * .8);
  --width-70: calc(var(--width-rg) * .7);
  --width-60: calc(var(--width-rg) * .6);
  --width-50: calc(var(--width-rg) * .5);

  --marg-pad-reg: 1rem;
  --marg-pad-lg: calc(var(--marg-pad-reg)* 1.5);
  --marg-pad-xl: calc(var(--marg-pad-reg)* 2);
  --marg-pad-sm: calc(var(--marg-pad-reg)* .75);
  --marg-pad-xs: calc(var(--marg-pad-reg)* .5);
}

a {
  color: inherit;
  text-decoration: none;
}

#about-volume {
  margin: var(--marg-pad-sm);
  width: var(--width-80);
  height:5rem;
  font-size: var(--font-sz-rg);
  letter-spacing: .3rem;
}

#about-text {
  width: var(--width-70);
  margin-left: var(--marg-pad-xl);
  margin-right: var(--marg-pad-xl);
}

body {
  background-image: 
    linear-gradient(
      rgba(0,0,0,0),
      rgba(0,0,0,0)
    ),
    url("../public/sneakers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: black;
  color: white;
  width: var(--width-rg);
  padding: var(--marg-pad-reg);
  position: absolute;
}

header {
  background-color: rgba(128, 128, 128, 0);
  background-size: cover;
  width: var(--width-rg);
  padding-left: var(--marg-pad-reg);
  padding-right: var(--marg-pad-reg);
  padding-top: var(--marg-pad-xl);
  padding-bottom: var(--marg-pad-lg);
  margin-left: var(--marg-pad-reg);
  margin-right: var(--marg-pad-reg);
}

#home {
  display:flex;
  flex-direction: column;
}

#landing-page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#auth-landing{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#login-email,
#login-password,
#signup-fname,
#signup-lname,
#signup-password,
#signup-email,
#workout-date,
#workout-time,
#workout-heartRate,
#workout-volume {
  width: var(--width-90);
}

#login-form,
#signup-form,
#workout-form {
  letter-spacing: .2rem;
  margin: var(--marg-pad-reg);
  width: var(--width-90);
  padding: var(--marg-pad-xs);
  background-color:rgba(0, 0, 0, .5);
  color: white;
  text-align: left;
}

section {
  color: white;
  margin-top: var(--marg-pad-reg);
  margin-bottom: var(--marg-pad-reg);
  width: var(--width-rg);
  height:25rem;
}

#volume-graph,
#heartRate-graph,
#exerciseTime-graph {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255,.5)
  );
  color: white;
}

#carousel {
  color:white;
}

#volume-carousel,
#volume-time,
#volume-heartRate {
  border:2px solid white;
  color:white;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}

tspan {
  color: white;
}

#heartRate-container,
#volume-container,
#minutes-container {
  height: 35rem;
  width: 95%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#github-logo,
#linkedin-logo,
#wordpress-logo {
  background-color: white;
  margin-left: var(--marg-pad-lg);
  margin-right: var(--marg-pad-lg);
  border-radius: 1rem;
}

@media  only screen and (min-width: 1200px) {
 :root {
  --width-rg: 80%;
  --font-sz-rg: 1.5rem;
  
 }
}